

// Hero
    .EMCHero {
        background: url('../../assets/images/emc/Project3-Hero.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

// Web App Walk Through
    .WebAppWalkThrough-Image1 {
        background: url('../../assets/images/emc/WebApp-Image1.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .WebAppWalkThrough-Image2 {
        background: url('../../assets/images/emc/WebApp-Image2.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }


// Desktop View

    .EMC-Desktop1 {
        background: url('../../assets/images/emc/Project3-DesktopView2.png');
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
    }


//Responsive Display 
    .EMC-Responsive1 {
        background: url('../../assets/images/emc/Project3-ResponsiveDisplay1.png');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .EMC-Responsive3 {
        background: url('../../assets/images/emc/Project3-ResponsiveDisplay3.png');
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .EMC-Responsive4 {
        background: url('../../assets/images/emc/Project3-ResponsiveDisplay4.png');
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
    }

        
    