

// Hero
    .SaporiHero {
        background: url('../../assets/images/sapori/Project4-Hero.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

// Side By Side
    .Sapori-SideBySide {
        background: url('../../assets/images/sapori/Project4-Image1.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }


// Desktop View

    .Sapori-Desktop1 {
        background: url('../../assets/images/sapori/Project4-DesktopView1.png');
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
    }

    .Sapori-Desktop2 {
        background: url('../../assets/images/specialized/Specialized-Desktop2.jpg');
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
    }


//Responsive Display 
    .Sapori-Responsive1 {
        background: url('../../assets/images/sapori/Project4-DesktopView1.png');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .Sapori-Responsive3 {
        background: url('../../assets/images/sapori/Project4-Responsive3.png');
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .Sapori-Responsive4 {
        background: url('../../assets/images/sapori/Project4-Responsive4.png');
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .EMC-MobileDisplayBig {
        background: url('../../assets/images/sapori/Project4-MobileImageBIG.png');
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
    }

        
    