

// Hero
    .SpecializedHero {
        background: url('../../assets/images/specialized/Project2-Hero.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

// Side By Side
    .Specialized-SideBySide {
        background: url('../../assets/images/specialized/Specialized-SidebySide.jpg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }


// Desktop View

    .Specialized-Desktop1 {
        background: url('../../assets/images/specialized/Specialized-DesktopLanding.png');
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
    }

    .Specialized-Desktop2 {
        background: url('../../assets/images/specialized/Specialized-Desktop2.jpg');
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
    }


//Responsive Display 
    .Specialized-Responsive1 {
        background: url('../../assets/images/specialized/Specialized-Responsive1.jpg');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .Specialized-Responsive3 {
        background: url('../../assets/images/specialized/Specialized-Responsive3.jpg');
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .Specialized-Responsive4 {
        background: url('../../assets/images/specialized/Specialized-Responsive4Big.jpg');
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
    }

        
    