

//Intro Section
    .Specialized-Intro-BG {
        background: url('../../assets/images/specialized/SpecializedProjectBG.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

@media screen and (max-width: 900px){
    .Specialized-Intro-BG {
        background-position: right;
    }
}


//MockUp 1
.Specialized-Mock1-BG {
    background: url('../../assets/images/specialized/Moch1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


//MockUp 2
.Specialized-Mock2-BG {
    background: url('../../assets/images/specialized/IphoneMockUp-Specialized.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}