// Hero
    .StarckHero {
        background: url('../../assets/images/starck/Project1Hero-Portfolio.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

// Side By Side
    .Starck-SideBySide {
        background: url('../../assets/images/starck/Project1Section1Image.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }


// Desktop View

    .Starck-Desktop1 {
        background: url('../../assets/images/starck/Project1DesktopWindow.png');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }

    .Starck-Desktop2 {
        background: url('../../assets/images/starck/Project1-DesktopDisplay2Image.png');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }


//Responsive Display 
    .Starck-Responsive1 {
        background: url('../../assets/images/starck/Project1DisplayImage1Big.png');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .Starck-Responsive3 {
        background: url('../../assets/images/starck/Project1MobileDisplay3Small.png');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .Starck-Responsive4 {
        background: url('../../assets/images/starck/Project1-MobileDisplayBig.png');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }